/*==========================================================================
original mobile.css 
===========================================================================*/

@charset "utf-8";
/* CSS Document */

/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, p,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
  border-spacing: 0;

}

/*==========================================================================
original main.css 
===========================================================================*/

@font-face {
    font-family: 'helveticalt';
    src: url('helveticalt.eot');
    src: url('helveticalt.eot?#iefix') format('embedded-opentype'),
         url('helveticalt.woff') format('woff'),
         url('helveticalt.ttf') format('truetype'),
         url('helveticalt.svg#FuturaMdBTMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaRegular';
    src: url('helvetica_regular-webfont.eot');
    src: url('helvetica_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('helvetica_regular-webfont.woff') format('woff'),
         url('helvetica_regular-webfont.ttf') format('truetype'),
         url('helvetica_regular-webfont.svg#HelveticaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FuturaBkBTBook';
    src: url('futura_bk_bt_book-webfont.eot');
    src: url('futura_bk_bt_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('futura_bk_bt_book-webfont.woff') format('woff'),
         url('futura_bk_bt_book-webfont.ttf') format('truetype'),
         url('futura_bk_bt_book-webfont.svg#FuturaBkBTBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'MyriadProRegular';
	src: url('myriadpro-regular-webfont.eot');
	src: local('â˜º'), url('myriadpro-regular-webfont.woff') format('woff'), url('myriadpro-regular-webfont.ttf') format('truetype'), url('myriadpro-regular-webfont.svg#webfontAHE7Nuvi') format('svg');
	font-weight: normal;
	font-style: normal;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.clear {clear:both;}

.left {float:left !important}
.right {float:right !important}

li.last {margin-right:0 !important}

body{
	background:#053895 url(../images/top-bg.jpg) repeat-x;
}
.main {
	min-width:320px;
	max-width:640px;
	margin:0 auto;
	text-align:center;
	border-bottom:1px solid #FFF;}	
.logo {
	display:inline-block;
	width:252px;
	height:55px;
	background:url(../images/logo.jpg) no-repeat;
	margin:3px 0 -1px;}
.header form {
	height:33px;
	background:url(../images/header_form-bg.jpg) repeat-x;
	padding-top:6px;}	
.header input[type='text'] {
	width:253px;
	height:26px;
	line-height:26px;
	padding:0 9px;
	border:none;
	background:url(../images/input-bg.png) no-repeat;
	float:right;
	color:#5A6371;
	font-size:13px;
	font-family: 'helveticalt';}
.header input[type='submit'] {
	float:right;
	width:20px;
	height:26px;
	background:url(../images/loupe.png) no-repeat;
	cursor:pointer;
	border:none;
	margin:0 11px 0 9px;}
.menu {
	margin:32px 0 -24px 1px;}	
.menu li {
	display:inline-block;
	text-align:center;
	margin-bottom:30px;}
.menu li a {
	display:inline-block;
	width:91px;
	height:74px;
	background:url(../images/menu-bg.png) no-repeat 0 0;
	text-decoration:none;
	color:#232323;
	font-size:14px;
	font-weight:bold;
	line-height:120%;
	font-family: 'FuturaBkBTBook';
	padding:0 7px 0 2px;}
.menu li a:hover {
	background-position:0 -74px;
	color:#FFF;}	
.menu li a q {
	display:table-cell;
	vertical-align:middle;
	width:91px;
	height:30px;
	line-height:100%;}	
.menu li a img {
	margin:-29px 0 -2px;}
.footer {
	color:#FFF;
	font-size:11px;
	line-height:132%;
	font-family:Arial, Helvetica, sans-serif;
	padding:0 0 8px;}
.footer a {
	color:#FFF;
	text-decoration:none;}
.footer a:hover {
	text-decoration:underline;}
.footer span {
	display:block;
	margin:0 10px;
	height:2px;
	padding-right:40px;
	background:url(../images/footer-bord.png) no-repeat right -2px;
	margin-bottom:9px;}
.footer span q {
	display:block;
	height:2px;
	background:url(../images/footer-bord.png) no-repeat 0 0;}
	
/*---about---*/
.topmenu {
	background:url(../images/topmenu-bg.jpg) repeat-x;
	height:43px;
	padding-top:6px;}
.topmenu li {
	display:inline-block;
	margin:0 3px;}
.topmenu li a {
	display:inline-block;
	color:#FFF;
	font-size:10px;
	font-family: 'HelveticaRegular';
	text-decoration:none;}
.topmenu li a img {
	opacity:0.6;
	margin-bottom:1px;}	
.topmenu li a img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);}
.topmenu li a:hover img {
	opacity:1;}
.topmenu li a:hover img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);}
.header .blue-bg {
	background:url(../images/header_form-bg2.jpg) repeat-x;
	border-bottom:1px solid #FFF;
	padding-top:7px;
	height:32px;}
.content {
	background:#FFF;
	line-height:132%;
	color:#4C4C4C;
	font-size:14px;
	font-family: 'MyriadProRegular';
	text-align:left;
	padding:12px 7px 9px;}
.content h1 {
	color:#0C6CB8;
	font-size:19px;
	line-height:120%;
	font-weight:normal;
  margin-bottom:8px;
}


a:hover {text-decoration:none}	


/*==========================================================================
css/style.css 
===========================================================================*/

body {
	
	margin: 0;
	padding: 0;
	color: #000;
	border: 0.063em solid #cccc66;
	display: flex;
	flex-direction: column;
	align-items: center;
	}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 0.938em;
	padding-left: 0.938em; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
	font-family: alegreya, serif;
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}


.mReadings	{
	font-size:x-large;
	font-family: alegreya, serif;
	background-color: #9bcdec;
}

.mPermission	{
	font-size:small;
	font-family: alegreya, serif;
}

.mMeetings {
	background-color:#9bcdec;
	position:relative;
	overflow:hidden;
}

.mLiterature {
	font-size:1.2em;
	background-color: #9bcdec;
	position:relative;
	overflow:hidden;
}

.mLiterature a:link {
	color: #00e;
}
	
.mLiterature a:hover, a:active, a:focus	{
	color:#ffffff;
		font-size:95%;
	font-weight:bold;	
}

.days a:link {
	
	background-color: #9bcdec;
	color: #00e;
	font-family:'Courier New', Courier, monospace;
	border-style:outset;
	border-width:0.063em;
	font-weight:bold;
	border-color:#cccc66;
	padding:0.250em;
	margin-left:0.188em;
	position:relative;
	padding-left:0.1em;
	padding-right:0.1em;
	}
	
	
.days a:hover, a:active, a:focus	{
	color:#00e;
	background-color:#ffffff;
	font-family:'Courier New', Courier, monospace;
	border-style:outset;
	font-size:95%;
	font-weight:bold;
	border-width:.09em;
	border-color:#cccc66;
	margin-left:0.188em;
	position:relative;
	padding-left:0.125em;
	padding-right:0.125em;
}

.mDays	{width:100%;}

.mDays a:link {	
	background-color: #9bcdec;
	color: #00e;
	font-family:'Courier New', Courier, monospace;
	border-style:outset;
	border-width:0.063em;
	font-weight:bold;
	border-color:#cccc66;
	padding:0.250em;
	margin-left:0.188em;
	position:relative;
	padding-left:0.125em;
	padding-right:0.125em;
	}
	
	
.mDays a:hover, a:active, a:focus	{
	color:#00e;
	background-color:#9bcdec;
	font-family:'Courier New', Courier, monospace;
	border-style:outset;
	font-size:95%;
	font-weight:bold;
	border-width:.09em;
	border-color:#cccc66;
	margin-left:0.188em;
	position:relative;
	padding-left:0.15em;
	padding-right:0.15em;
}


.speakers a:link {
	
	background-color: #9bcdec;
	color: #cccc66;
	font-family:alegreya, serif;
	border-style:outset;
	border-width:0.063em;
	font-weight:bold;
	border-color:#cccc66;
	padding:0.250em;
	margin-left:0.188em;
	position:relative;
	padding-left:0.125em;
	padding-right:0.125em;
	text-align:center;
	font-size:100%;
	}
	
	
.speakers a:hover, a:active, a:focus	{
	color:#cccc66;
	
	font-family:alegreya, serif;
	border-style:outset;
	font-size:95%;
	font-weight:bold;
	border-width:.09em;
	border-color:#cccc66;
	margin-left:0.188em;
	position:relative;
	padding-left:0.125em;
	padding-right:0.125em;

}
	
.tapes a:link {
	
	background-color:#006fb5;
	color: #9bcdec;
	font-family:alegreya, serif;
	font-weight:bold;
	padding:0.250em;
	margin-left:0.188em;
	position:relative;
	padding-left:0.125em;
	padding-right:0.125em;
	border-style:outset;
	border-width:0.063em;
	font-weight:bold;
	border-color:#cccc66;
	display:inline-block;
	width:6em;
	font-size:130%;
	}
	
	
.tapes a:hover, a:active, a:focus	{
	color: #9bcdec;
	font-family: "&nbsp;&nbsp;Georgia", "Times New Roman", Times, serif;
	border-style: outset;
	font-size: 95%;
	font-weight: bold;
	border-width: .09em;
	border-color: #cccc66;
	margin-left: 0.188em;
	position: relative;
	padding-left: 0.125em;
	padding-right: 0.125em;
	display:block;
	width:6em;
}


.mContainer {
	border: 0.063em solid #cccc66;
	width: 100%;
	max-width: 200.000em;/* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
	min-width: 20.000em;/* a min-width may be desirable to keep this layout from getting too narrow. This keeps line length more readable in the side columns. IE6 does not respect this declaration. */
	background-color: #138ece;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout. It is not needed if you set the .container's width to 100%. */
}

/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
.header {
	background-color: #fff;
	border: 0.063em solid #cccc66;
	width:100%;
}

#meetinglist p {
	padding: .2em;
		margin-left:50px;

}

/* ~~ These are the columns for the layout. ~~ 

1) Padding is only placed on the top and/or bottom of the divs. The elements within these divs have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

2) No margin has been given to the columns since they are all floated. If you must add margin, avoid placing it on the side you're floating toward (for example: a right margin on a div set to float right). Many times, padding can be used instead. For divs where this rule must be broken, you should add a "display:inline" declaration to the div's rule to tame a bug where some versions of Internet Explorer double the margin.

3) Since classes can be used multiple times in a document (and an element can also have multiple classes applied), the columns have been assigned class names instead of IDs. For example, two sidebar divs could be stacked if necessary. These can very easily be changed to IDs if that's your preference, as long as you'll only be using them once per document.

4) If you prefer your nav on the right instead of the left, simply float these columns the opposite direction (all right instead of all left) and they'll render in reverse order. There's no need to move the divs around in the HTML source.

*/
.sidebar1 {
	float: right;
	width: 20.8%;
	background-color: #84c4e8;
	padding-bottom: 0.625em;
	border: 0.063em solid #cccc66;
	position:relative;
	overflow:hidden;
}
.content {
	padding: 0.625em 1.875em;
	width: 70%;
	float: left;
	border: 0.063em solid #cccc66;
	background-color: #9bcdec;
	position:relative;
	overflow:hidden;
}

.outside	{
	background-color:#ffffff;
	margin-left:3.125em;
	border-style:groove;
	border-width:0.250em;
	border-color:#cccc66;
}

.mContent {
	padding: 0.625em 1.875em;
	width: 100%;
	background-color: #9bcdec;
	position:relative;
	overflow:hidden;
}

.mLinks	{
	padding: 0.625em 1.875em;
	width: 100%;
	float: left;
	border: 0.063em solid #cccc66;
	background-color: #9bcdec;
	position:relative;
	overflow:hidden;
	font-size: x-large;
}

.links a:link, .links a:visited	 {
		color: #cccc66;
		background-color:#006fb5;
		font-family: alegreya, serif;
		font-size:80%;
		}
		
.links a:hover, .links a:active, .links a:focus	 {
		color: #cccc66;
		background-color:#006fb5;
		font-family: alegreya, serif;
		font-size:77%;
		font-weight:800;
		}		
		
.links	{
	background-color: #006fb5;
	font-size: 100%;
	font-family: alegreya, serif;
	margin-top: 2em;
	}
		
		
.area a:hover, .area a:active, .area a:focus		{
	color: #cccc66;
	background-color:#006fb5;
	font-family: alegreya, serif;
		font-size:77%;
		font-weight:800;
		}		
		

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 0.938em 0.938em 2.500em; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
ul.nav {
	list-style: none; /* this removes the list marker */
	border-left:0.125em solid #cccc66; /* this creates the top border for the links - all others are placed using a bottom border on the LI */
	border-right:0.125em solid #cccc66;
	border-top:0.250em solid #cccc66;
	border-bottom:0.250em solid #cccc66;	
	margin-bottom: 0.938em; /* this creates the space between the navigation on the content below */
}

ul.nav li {
	
	border-bottom:0.250em solid #cccc66; /* this creates the button separation */
}
ul.nav a, ul.nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 0.313em 0.313em 0.313em 0.938em;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	text-decoration: none;
	background-color: #006fb5;
	color: #cccc66;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	background-color: #9bcdec;
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:102%;
}

.area	{
	padding-left: 1.250em;
}

/* ~~ The footer ~~ */
.footer {
	padding: 0.625em 0;
	color:#FFFFFF;
	background-color: #006fb5;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
	text-align:center;
}
.footer a, .footer a:visited, .footer a:hover, .footer a:active, .footer a:focus {
	color:#cccc66;
		background-color: #006fb5;
		font-weight:normal;
		}
/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 0.500em;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 0.500em;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 0.063em;
	line-height: 0em;
}

#ac-wrapper {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(255,255,255,.6);
z-index: 1001;
}
.popup{
width:87%;
height: 100%;
background: #9bcdec;
border: 5px solid #cccc66;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
box-shadow: #64686e 0px 0px 3px 3px;
-moz-box-shadow: #64686e 0px 0px 3px 3px;
-webkit-box-shadow: #64686e 0px 0px 3px 3px;
position: relative;
top: 15px; left: 37.5px;
}


/*==========================================================================
new adds 
===========================================================================*/

.font-highlight {

  color:#cccc66;

} 

.main {
  max-width: 640px;
  margin: auto;
}
  
.container {

  margin-top: 1rem;
  padding: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  }

.container a {
  margin: 3px;
}
  
.nav {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100%;
  box-shadow: 0 2.5px 5px rgba(25, 25, 25, 0.1);
}

.nav p {
	text-align: center;
	color: white; 
}