/* ==============================================================
------ Interface -----
============================================================== */

.main {
  max-width: 640px;
  margin: auto;
}
  
.container {

  margin-top: 1rem;
  padding: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  }

.container a {
  margin: 3px;
}
  
.nav {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100%;
  box-shadow: 0 2.5px 5px rgba(25, 25, 25, 0.1);
}

.nav p {
  text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------ Interface -----
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

