///*---------F R O N T - P A G E -------------------------*\

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // 

.p-updates {

  padding: 2rem;
  margin: 0 auto;
  text-align: center; 

}

///*---------P A G E - A B O U T --------------------------------*\

@import "pages.about"; 


///*---------P A G E - C A L E N D A R --------------------------*\

@import "pages.calendar"; 


///*---------P A G E - L I N K S  ---------------------------------*\

@import "pages.links"; 