// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // 

.c-header {
  width: 100%;
  background-color: #8090AB;
}

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // 

@import "components.bg"; 
@import "components.touch";

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // 

.c-updates {

  padding: 2rem;

  &__title {

    text-align: center;
    font-size: 3rem;
  }
}

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // 

@import "components.help"; 

@import "components.jft";
 
@import "components.calendar"; 
 
@import "components.na"; 
 
@import "components.speakers"; 
 
@import "components.pro";

@import "components.lit";

@import "components.readings";

@import "components.service";