.c-jft { 
  background-color: #ffffff;  
  border-style:solid; 
  border-width:0.125em; 
  padding:0.313em; 
  border-color: #cccc66;

  &__link {
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 50px; 
    height: 70px; 
  }
}