@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'helveticalt';
    src: url('helveticalt.eot');
    src: url('helveticalt.eot?#iefix') format('embedded-opentype'),
         url('helveticalt.woff') format('woff'),
         url('helveticalt.ttf') format('truetype'),
         url('helveticalt.svg#FuturaMdBTMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaRegular';
    src: url('helvetica_regular-webfont.eot');
    src: url('helvetica_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('helvetica_regular-webfont.woff') format('woff'),
         url('helvetica_regular-webfont.ttf') format('truetype'),
         url('helvetica_regular-webfont.svg#HelveticaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FuturaBkBTBook';
    src: url('futura_bk_bt_book-webfont.eot');
    src: url('futura_bk_bt_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('futura_bk_bt_book-webfont.woff') format('woff'),
         url('futura_bk_bt_book-webfont.ttf') format('truetype'),
         url('futura_bk_bt_book-webfont.svg#FuturaBkBTBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'MyriadProRegular';
	src: url('myriadpro-regular-webfont.eot');
	src: local('â˜º'), url('myriadpro-regular-webfont.woff') format('woff'), url('myriadpro-regular-webfont.ttf') format('truetype'), url('myriadpro-regular-webfont.svg#webfontAHE7Nuvi') format('svg');
	font-weight: normal;
	font-style: normal;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.clear {clear:both;}

.left {float:left !important}
.right {float:right !important}

li.last {margin-right:0 !important}

body{
	background:#053895 url(../images/top-bg.jpg) repeat-x;
}
.main {
	min-width:320px;
	max-width:640px;
	margin:0 auto;
	text-align:center;
	border-bottom:1px solid #FFF;}	
.logo {
	display:inline-block;
	width:252px;
	height:55px;
	background:url(../images/logo.jpg) no-repeat;
	margin:3px 0 -1px;}
.header form {
	height:33px;
	background:url(../images/header_form-bg.jpg) repeat-x;
	padding-top:6px;}	
.header input[type='text'] {
	width:253px;
	height:26px;
	line-height:26px;
	padding:0 9px;
	border:none;
	background:url(../images/input-bg.png) no-repeat;
	float:right;
	color:#5A6371;
	font-size:13px;
	font-family: 'helveticalt';}
.header input[type='submit'] {
	float:right;
	width:20px;
	height:26px;
	background:url(../images/loupe.png) no-repeat;
	cursor:pointer;
	border:none;
	margin:0 11px 0 9px;}
.menu {
	margin:32px 0 -24px 1px;}	
.menu li {
	display:inline-block;
	text-align:center;
	margin-bottom:30px;}
.menu li a {
	display:inline-block;
	width:91px;
	height:74px;
	background:url(../images/menu-bg.png) no-repeat 0 0;
	text-decoration:none;
	color:#232323;
	font-size:14px;
	font-weight:bold;
	line-height:120%;
	font-family: 'FuturaBkBTBook';
	padding:0 7px 0 2px;}
.menu li a:hover {
	background-position:0 -74px;
	color:#FFF;}	
.menu li a q {
	display:table-cell;
	vertical-align:middle;
	width:91px;
	height:30px;
	line-height:100%;}	
.menu li a img {
	margin:-29px 0 -2px;}
.footer {
	color:#FFF;
	font-size:11px;
	line-height:132%;
	font-family:Arial, Helvetica, sans-serif;
	padding:0 0 8px;}
.footer a {
	color:#FFF;
	text-decoration:none;}
.footer a:hover {
	text-decoration:underline;}
.footer span {
	display:block;
	margin:0 10px;
	height:2px;
	padding-right:40px;
	background:url(../images/footer-bord.png) no-repeat right -2px;
	margin-bottom:9px;}
.footer span q {
	display:block;
	height:2px;
	background:url(../images/footer-bord.png) no-repeat 0 0;}
	
/*---about---*/
.topmenu {
	background:url(../images/topmenu-bg.jpg) repeat-x;
	height:43px;
	padding-top:6px;}
.topmenu li {
	display:inline-block;
	margin:0 3px;}
.topmenu li a {
	display:inline-block;
	color:#FFF;
	font-size:10px;
	font-family: 'HelveticaRegular';
	text-decoration:none;}
.topmenu li a img {
	opacity:0.6;
	margin-bottom:1px;}	
.topmenu li a img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);}
.topmenu li a:hover img {
	opacity:1;}
.topmenu li a:hover img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);}
.header .blue-bg {
	background:url(../images/header_form-bg2.jpg) repeat-x;
	border-bottom:1px solid #FFF;
	padding-top:7px;
	height:32px;}
.content {
	background:#FFF;
	line-height:132%;
	color:#4C4C4C;
	font-size:14px;
	font-family: 'MyriadProRegular';
	text-align:left;
	padding:12px 7px 9px;}
.content h1 {
	color:#0C6CB8;
	font-size:19px;
	line-height:120%;
	font-weight:normal;
	margin-bottom:8px;}																																																																																											a {color:#0E6EBA;}
a:hover {text-decoration:none}																																																																																																																																																																																																																																																																																								