.c-readings {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;


  &__preview {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;

    img {
      width: 12rem;
      height: 18rem;
    }
  }

  &__reading {
    text-align: center;
    width: 85vw;
    font-size: 3rem;
  }

  &__permission {
    text-align: center;
    font-size: 1.3rem;
    margin: 3rem;
  }


  ////////////////////////////////////////////////////////
  /// individual readings 



}
